@mixin no-wrap{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
@mixin clearFix{
  &:after{
    content: "";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
  }
}
